* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    display: flex;
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 2rem;
    color: rgb(70, 39, 33)
}

h4 {
    font-size: 1.5rem;
}

img {
    width: 20%;
    margin-top: 9px;
    margin-bottom: 9px;
    margin-left: 5px;
    margin-right: 5px;
}

img.door{
    width: 100px;
    height: 200px;
    margin: 50px
}

img.social{
    position: relative;
    width: 22%;
}

.center{
    text-align: center;
    color: rgb(155, 60, 35)
}

.margin{
    margin: 1%;
}


p {
    margin: 1%;
    letter-spacing: 3px;
    color:  rgb(255, 250, 208);
    padding: none;
    text-transform: uppercase;
}

p.hero{
    margin-top: 5%;
    /* color: rgb(70, 39, 33); */
    text-transform: none;
    letter-spacing: 1px;
}

a {
    text-align: center;
    color: rgb(248, 206, 113);
    text-decoration: none;
}

footer{
    width: 100%;
    margin: 0;
}

#body{
    display: flex;
    height: 100%;
    width: 100%;
    align-self:center ;
}

#core{
    display: inline;
    width: 100%;
}

#header {
    text-align: center;
    padding: 25px;
    margin-bottom: 1%;
    margin-top: 0;
}

#header-text{
    padding: 10px;
}

.big{
    height: 150%;
    width: 150%;
    margin: 50px;
}

#container {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#door-container{
    display: flex;
    width: 15%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#knicknack-container{
    margin-top: -10%;
    display: flex;
    width: 55%; 
    /* align-items: center; */
    margin-left: 25%;
    margin-right: auto;
}

#text-container {
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}


#broken-container {
    width: 100%;
    display: flex;
}

#footer-broken {
    display: flex;
    /* position: relative; */
    /* width: 50%; */
    font-size: 1rem;
    text-align: center;
}

.broken-r {
    transform: rotate(-25deg);
    margin-right: -10%;
}

.broken-l {
    transform: rotate(25deg);
    /* position: relative; */
    margin-left: -10%;
}

img.broke{
    position: relative;
    margin: 0;
}

#menu{
    width: 100%;
    padding: 1%;
    display: flex;
}

#menu.broke{
    height: 150px;
    padding: 0px;
}


.padded {
    padding: 15px;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

/* side stripes */
.stripes {
    display: flex;
}

.stripe {
    height: 850px;
    width: 35px;
}

/* colors */
.green{
    background-color: rgb(138, 190, 161);
}

.yellow{
    background-color: rgb(248, 206, 113);
}

.red{
    background-color: rgb(155, 60, 35);
}

.light-brown{
    background-color: rgb(100, 77, 67);
}

.dark-brown{
    background-color: rgb(70, 39, 33);
}

.beige{
    background-color: rgb(255, 250, 208);
}

.black{
    background-color: black;
}

p.yellow{
    font-size: 0.83rem;
    background-color: rgb(100, 77, 67);
    color: rgb(248, 206, 113);;
}

#mega-core{
    display: block;
    
}

#under-body{
    display: block;
    margin-top: 350px;
    height: 100%;
    width: 100%;
}

.box{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    margin-top: 250px;
    margin-bottom: 250px;
    width: 200px;
}

p.box{
    width:500px;
    margin-top: 350px;
}

.small{
    width: 5%;
}

.right {
    margin-left: 8%;
}

.left {
    margin-right: 15%;
}

.button{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 90%;
}

video{
    display: flex;
    justify-self: center;
    width: 80%;
    height: 80%;
    padding: auto;
    margin-left: auto;
    margin-right: auto;
}

#section-title{
    padding-top: 20px;
    text-align: center;
    height: 5%;
    width: 15%;
}

#door{
    display: flex;
    align-items: right;
    background-color: rgb(100, 77, 67);
    height: 200px;
    width: 100px;
}

#doorknob{
    background-color: rgb(70, 39, 33);
    height: 7%;
    width: 12%;
    border-style: solid;
    border-color: rgb(70, 39, 33);
    border-radius: 80%;
    position: relative;
    margin-top: 100%;
    margin-left: 80%;
}

.door-video{
    height: 750%;
    width: 75%;

}

.click:hover{
    cursor: pointer;
}

.footer {
    justify-content: center;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    width: 33%;
}

.fade-in {
    opacity: 0;
    position: relative;
    transition: opacity 4s ease-out, transform 4.2s ease-out;
}


.fade-in.is-visible {
    opacity: 1;
}

a:hover {
    font-size: 1.5rem;
}

.table{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
}
