* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    display: block;
    /* width: 100%; */
}

h1 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

#credits{
    margin: 20px
}

img {
    /* width: 90%; */
    margin-top: 9px;
    margin-bottom: 9px;
    width: 15%;
    margin-left: 5px;
    margin-right: 5px;
}

.mid{
    /* height: 50%; */
    width: 30%;
    /* margin: 50px; */
}

.big{
    width: 50%;
}

img.door{
    width:100px;
    height:200px;
}

img.social{
    position: relative;
    width: 22%;
}

p {
    margin: 1%;
    color:  rgb(138, 190, 161);
    padding: none;
}

a {
    text-align: center;
    color: rgb(248, 206, 113);
    text-decoration: none;
}

footer{
    width: 100%;
    margin: 0;
}

#body{
    display: flex;
    /* height: 100%; */
    /* width: 100%; */
    align-self:center ;
}

#core{
    display: inline;
}

#header {
    text-align: center;
    padding: 25px;
    margin-bottom: 1%;
    margin-top: 0;
}

#header-text{
    padding: 10px;
}

#container {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#section-container {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#text-container {
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

#footer-container {
    width: 100%;
    font-size: 1rem;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}


/* #broken-container {
    display: flex;
} */

#footer-broken {
    width: 70%;
    font-size: 1rem;
    text-align: center;
}

.broken-r {
    transform: rotate(-25deg);
    position: absolute;
    right: -280px;
    bottom: 80px;
}

.collab{
    color: rgb(155, 60, 35);
}

.collab:hover {
    font-size: 1rem;
    color: rgb(70, 39, 33);
}

.broken-l {
    transform: rotate(25deg);
    position: absolute;
    left: -170px;
    bottom: 20px;
}

img.broke{
    position: relative;
    margin: 0;
}

#menu{
    width: 100%;
    padding: 1%;
    display: flex;
}

#menu.broke{
    width: 80%;
    height: 150px;
    padding: 0px;
}


.padded {
    padding: 15px;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

/* side stripes */
.stripes {
    display: flex;
}

.stripe {
    height: 100%;
    width: 35px;
}

/* colors */
.green{
    background-color: rgb(138, 190, 161);
}

.yellow{
    background-color: rgb(248, 206, 113);
}

.red{
    background-color: rgb(155, 60, 35);
}

.light-brown{
    background-color: rgb(100, 77, 67);
}

.dark-brown{
    background-color: rgb(70, 39, 33);
}

.beige{
    background-color: rgb(255, 250, 208);
}

.black{
    background-color: black;
}

p.yellow{
    font-size: 0.83rem;
    background-color: rgb(100, 77, 67);
    color: rgb(248, 206, 113);;
}

.right{
    left: 100px;
}

.left{
    right: 100px;
}

#under-body{
    height: 100%;
    width: 100%;
    align-self:center ;
}

.button{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 90%;
}

video{
    display: flex;
    justify-self: center;
    width: 80%;
    height: 80%;
    padding: auto;
    margin-left: auto;
    margin-right: auto;
}

#section-title{
    padding-top: 20px;
    text-align: center;
    height: 5%;
    width: 50%;
}

#invisible{
    color: transparent;
}

#door{
    display: flex;
    align-items: right;
    background-color: rgb(100, 77, 67);
    height: 200px;
    width: 100px;
}

#doorknob{
    background-color: rgb(70, 39, 33);
    height: 7%;
    width: 12%;
    border-style: solid;
    border-color: rgb(70, 39, 33);
    border-radius: 80%;
    position: relative;
    margin-top: 100%;
    margin-left: 80%;
}

.door-video{
    height: 750%;
    width: 75%;

}

.click:hover{
    cursor: pointer;
}

.footer {
    justify-content: center;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    width: 33%;
}

.fade-in {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
}

.fade-in.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

#stopper{
    position: absolute;
    height: 225px;
    width: 125px;
    background-color: transparent;
    cursor: pointer;
}

a:hover {
    font-size: 1.5rem;
}

.table{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
}
